<robot xmlns:drake="drake.mit.edu" name="plate_11in_decomp">
  <link name="plate_11in_decomp_body_link">
    <inertial>
      <origin xyz="-2.80E-05 -1.04E-02 -1.34E-06" rpy="0 0 0"/>
      <mass value="2.82E-01"/>
      <inertia ixx="1.3738E-03" ixy="6.2120E-06" ixz="-1.2792E-08" iyy="2.7213E-03" iyz="-3.5786E-09" izz="1.3739E-03"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="plate_11in_decomp_visual.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="5.00E-01 9.00E-01 5.00E-01 1.00E+00"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="plate_11in_decomp_convex_piece_0.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="plate_11in_decomp_convex_piece_1.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="plate_11in_decomp_convex_piece_2.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="plate_11in_decomp_convex_piece_3.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="plate_11in_decomp_convex_piece_4.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="plate_11in_decomp_convex_piece_5.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="plate_11in_decomp_convex_piece_6.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="plate_11in_decomp_convex_piece_7.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="plate_11in_decomp_convex_piece_8.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="plate_11in_decomp_convex_piece_9.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="plate_11in_decomp_convex_piece_10.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="plate_11in_decomp_convex_piece_11.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="plate_11in_decomp_convex_piece_12.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="plate_11in_decomp_convex_piece_13.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="plate_11in_decomp_convex_piece_14.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="plate_11in_decomp_convex_piece_15.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
  </link>
</robot>
